@font-face {
  font-family: "GothicA1-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.page {
  background: linear-gradient(#000000, rgb(34, 33, 30, 0.62));
  width: 100vw;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  /* height: 100vh; */
  min-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.page-bg {
  min-height: 100vh;
  /* min-height: 844px; */
  display: flex;
  white-space: nowrap;
  justify-content: center;
}

@media (hover: hover) {
  .page-bg {
    background-image: url("../img/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
  }
}

.page-space {
  width: 100vw;
  /* height: 100vh; */
  min-height: 844px;
}

@media (hover: hover) {
  .page-space {
    width: 390px;
  }
}

.center {
  display: flex;
  justify-content: center;
  color: white;
}

.home-content {
  display: flex;
  flex-direction: column;
  font-family: "GothicA1-Bold";
  font-size: 1.4em;
  font-weight: bolder;
  letter-spacing: -0.08em;
  margin-top: 65px;
  width: 100vw;
}

@media (hover: hover) {
  .home-content {
    width: 390px;
  }
}

.home-com1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.homeToAbout {
  background-color: #ff7710;
  padding: 13px 13px 13px 14px;
  width: calc(100vw / 3);
  height: calc(100vw / 3);
  border-radius: 0px 20px 0px 0px;
  position: relative;
}

.homeToAbout div {
  height: 22px;
  margin-bottom: 6px;
  color: #000000;
  font-weight: bolder;
}

.CursorImg {
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: 13px;
  right: 13px;
}

.grayBox {
  background-color: #d9d9d9;
  width: calc(100vw / 3);
  height: calc(100vw / 3);
  border-radius: 20px 0px 0px 20px;
}

.home-com2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.homeToInput {
  background-color: #981b45;
  color: #ffffff;
  padding: 13px 13px 13px 14px;
  width: calc(100vw / 3);
  height: calc(100vw / 3);
}

.homeToInput div {
  height: 22px;
  margin-bottom: 6px;
}

.home-com3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.pointBox {
  background-color: #ffffff;
  width: calc(100vw / 3);
  height: calc(100vw / 3);
  border-radius: 0px 0px 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PointImg {
  width: 55%;
  height: 40%;
}

.homeToInsta {
  background-color: #ff7710;
  width: calc(100vw / 3);
  height: calc(100vw / 3);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.InstaImg {
  width: 65%;
  height: 65%;
}

.blackBox {
  background-color: #000000;
  color: #ffffff;
  padding: 13px;
  width: calc(100vw / 3);
  height: calc(100vw / 3);
  border-radius: 20px 0px 0px 20px;
}

.blackBox div {
  height: 22px;
  margin-bottom: 6px;
}

@media (hover: hover) and (pointer: fine) {
  .homeToAbout,
  .homeToInput,
  .grayBox,
  .homeToInsta,
  .pointBox,
  .blackBox {
    width: 130px;
    height: 130px;
  }
}

@media (max-width: 312px) {
  .home-content {
    font-size: 17px;
  }
  .homeToAbout div,
  .homeToInput div,
  .blackBox div {
    margin-bottom: 0px;
  }
}

@media (min-width: 500px) {
  .home-content {
    font-size: 30px;
  }
  .homeToAbout div,
  .homeToInput div,
  .blackBox div {
    margin-bottom: 8px;
  }
}

@media (min-width: 768px) {
  .home-content {
    font-size: 50px;
  }
  .homeToAbout div,
  .homeToInput div,
  .blackBox div {
    margin-bottom: 40px;
  }
  .CursorImg {
    width: 35px;
    height: 35px;
  }
}

@media (min-width: 820px) {
  .home-content {
    font-size: 50px;
  }
  .homeToAbout div,
  .homeToInput div,
  .blackBox div {
    margin-bottom: 40px;
  }
  .CursorImg {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 1024px) {
  .home-content {
    font-size: 70px;
  }
  .homeToAbout div,
  .homeToInput div,
  .blackBox div {
    margin-bottom: 60px;
  }
  .CursorImg {
    width: 60px;
    height: 60px;
  }
}

@media (hover: hover) {
  .home-content {
    font-size: 1.4em;
  }
  .homeToAbout div,
  .homeToInput div,
  .blackBox div {
    margin-bottom: 6px;
  }
  .CursorImg {
    width: 18px;
    height: 18px;
  }
}
